.sponsors {
  margin-bottom: 30px;
}

.sponsorsHeading {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-weight: normal;
  @media only screen and (max-width: 930px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 670px) {
      font-size: 1rem;
  }
}

.logoList {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #0000004d, 0 0 14px -2px black;
  list-style: none;
  @media only screen and (max-width: 650px) {
    display: none
  }
}

.logoListSmallDevices {
  background: rgb(255, 255, 255);
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #0000004d, 0 0 14px -2px black;
  list-style: none;
  display: none;
  .firstRow, .secondRow {
    display: flex;
    justify-content: space-around;
  }
  .firstRow {
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 650px) {
    display: block;
  }
}

.logo {
  height: 70px;
  width: auto;
  @media only screen and (max-width: 950px) {
    height: 40px;
  }
}
